.gold {
  color: rgb(248, 231, 28);
}

.novel-map {
  &__main {
    position: relative;
    height: 100vh;
    &-info {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      background-color: #ffffff;
      z-index: 9;
    }
    &-empty {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .ant-card {
      &-body {
        position: relative;
        .novel-map {
          &__tool {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            padding: 12px;
            border-radius: 2px;
            cursor: pointer;
            &-icon {
              display: inline-block;
              font-size: 20px;
              margin: 0 8px;
              color: #f00;
            }
          }
        }
      }
      &:hover {
        .novel-map__tool {
          display: block;
          &.tool-hidden {
            display: none;
          }
        }
      }
    }
    .first-child-line {
      height: 50px;
      width: 2px;
      margin-left: calc(15vw + 30px);
      background-color: #f0f0f0;
    }
    .second-child-line {
      height: 50px;
      width: 2px;
      margin-left: calc(30vw + 30px);
      background-color: #f0f0f0;
    }
    .ant-ribbon-wrapper {
      width: 45vw;
    }
    .ant-ribbon-placement-start,
    .ant-card-head-title {
      cursor: default;
    }
    .ant-timeline {
      height: 100%;
      padding: 32px 20px;
      overflow-y: auto;
      &-item-content {
        top: -12px;
        .ant-ribbon-wrapper {
          &:nth-of-type(3) {
            margin-left: 15vw;
          }
          &:nth-of-type(5) {
            margin-left: 30vw;
            .novel-map__tool {
              display: none;
            }
          }
        }
      }
    }
    .ant-card-head-title {
      text-align: right;
      font-size: 12px;
      color: #c41d7f;
    }
    .rdw-option-wrapper {
      border: none;
      &[title='Italic'],
      &[title='Monospace'],
      &[title='Superscript'],
      &[title='Subscript'],
      &[title='Underline'],
      &[title='Unlink'] {
        display: none;
      }
    }
    .rdw-fontsize-wrapper,
    .rdw-text-align-wrapper,
    .rdw-fontfamily-wrapper,
    .rdw-embedded-wrapper,
    .rdw-remove-wrapper,
    .rdw-list-wrapper,
    .rdw-history-wrapper,
    .rdw-image-wrapper,
    .rdw-block-wrapper,
    .rdw-emoji-wrapper {
      display: none;
    }
    .rdw-image-modal {
      right: 5px;
      left: inherit;
      width: 350px;
    }
  }
  &__editor {
    &-wrapper {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        z-index: -1;
        pointer-events: none;
        cursor: default;
      }
    }
    &-content {
      border: 1px solid #f1f1f1;
      padding: 5px 16px;
      border-radius: 3px;
      background-color: #e6f7ff99;
      min-height: 400px;
      max-height: 400px;
    }
    &-custom {
      position: absolute;
      right: 15px;
    }
    &-shortcut {
      position: absolute;
      top: 11px;
      right: 100px;
    }
  }
}
