.gold {
  color: rgb(248, 231, 28);
}

.novel-map {
  &__main {
    position: relative;
    height: 100vh;
    &-info {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      background-color: #ffffff;
      z-index: 9;
    }
    &-card {
      background-color: #faf5eb;
    }
    &-empty {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .ant-card {
      &-body {
        position: relative;
        .novel-map {
          &__tool {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            padding: 12px;
            border-radius: 2px;
            cursor: pointer;
            &-icon {
              display: inline-block;
              font-size: 20px;
              margin: 0 8px;
              color: #f00;
            }
          }
        }
      }
      &:hover {
        .novel-map__tool {
          display: block;
          &.tool-hidden {
            display: none;
          }
        }
      }
    }
    .child-tree {
      margin-left: 12vw;
    }
    .child-line {
      height: 40px;
      width: 1px;
      margin-left: 30px;
      background-color: #dfe1e6;
    }
    .ant-timeline-item-tail {
      border-left: 1px solid #dfe1e6;
    }
    .ant-ribbon-wrapper {
      width: 45vw;
    }
    .ant-card-head {
      border-bottom: none;
    }
    .ant-ribbon-placement-start,
    .ant-card-head-title {
      cursor: default;
    }
    .rdw-editor-toolbar .ant-tag {
      line-height: 23px;
      font-weight: 500;
    }
    .rdw-editor-main {
      font-size: 20px;
    }
    .public-DraftStyleDefault-block {
      margin: 0.5rem 0;
    }
    .ant-timeline {
      height: 100%;
      padding: 32px 20px;
      overflow-y: auto;
      &-item-content {
        top: -12px;
      }
    }
    .ant-card-head-title {
      text-align: right;
      font-size: 12px;
      color: #c41d7f;
    }
    .rdw-option-wrapper {
      border: none;
      &[title='Italic'],
      &[title='Monospace'],
      &[title='Superscript'],
      &[title='Subscript'],
      &[title='Underline'],
      &[title='Unlink'] {
        display: none;
      }
    }
    .rdw-fontsize-wrapper,
    .rdw-text-align-wrapper,
    .rdw-fontfamily-wrapper,
    .rdw-embedded-wrapper,
    .rdw-remove-wrapper,
    .rdw-list-wrapper,
    .rdw-history-wrapper,
    .rdw-image-wrapper,
    .rdw-block-wrapper,
    .rdw-emoji-wrapper {
      display: none;
    }
    .rdw-image-modal {
      right: 5px;
      left: inherit;
      width: 350px;
    }
  }
  &__editor {
    &-wrapper {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        z-index: -1;
        pointer-events: none;
        cursor: default;
      }
    }
    &-content {
      border: 1px solid #f1f1f1;
      padding: 5px 16px;
      border-radius: 3px;
      background-color: #faf5eb;
      min-height: 400px;
      max-height: 400px;
    }
    &-custom {
      position: absolute;
      right: 15px;
    }
    &-tags {
      position: absolute;
      top: -30px;
    }
    &-shortcut {
      position: absolute;
      top: 11px;
      right: 100px;
    }
  }
  &__pagination {
    display: inline;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
  &__nav {
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 10;
    padding: 0 16px;
    cursor: default;
    ul {
      margin-left: -25px;
    }
  }
}
